.wrap {
    width: 920px;
    margin: 0 auto;
}

#header-wrap {
    margin-bottom: 54px;
}

.header-pd-wrap {
    width: 920px;
}

.topmenu-wrap {
    height: 25px;
    padding: 0 96px 0 104px;
    margin-bottom: 12px;
    background-color: #f5f5f5;
    position: relative;
}

input[id="menu-icon"] {
    display: none;
}

input[id="search-icon"] {
    display: none;
}

.topmenu-wrap > .left-tm {
    float: left;
}

.topmenu-wrap > .right-tm {
    float: right;
}

.topmenu-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.tm-list-wrap > .tm-list {
    float: left;
}

.tm-list-wrap > .tm-list > a {
    display: block;
    color: #999999;
}

.tm-list-wrap > .tm-list + .tm-list {
    padding-left: 18px;
    background: url('../img/login-div.png') 9px 7px no-repeat;
}

.tm-list-wrap > .tm-list > a,
.topmenu-wrap > .left-tm > span {
    line-height: 25px;
    vertical-align: middle;
}    

.tm-list-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.logo-banner-wrap {
    position: relative;
    height: 50px;
    margin-bottom: 13px;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
}

#logo > a {
    display: block;
    font-size: 0;
}

.bm-list-wrap {
    position: absolute;
    top: 19px;
    right: 283px;
}

.bm-pl-1 {
    padding-left: 16px;
}

.bm-pl-2 {
    padding-left: 18px;
}

.bm-pl-3 {
    padding-left: 20px;
}

.bm-list + .bm-list {
    background: url('../img/rbw-div.png') 5px 1px no-repeat;
}

.bm-list-wrap::after {
    content: "";
    display: block;
    clear: both;
} 

.bm-list {
    float: left;
}

.bimg-wrap {
    display: block;
    position: absolute;
    right: 1px;
    font-size: 0;
}

.mm-list-wrap {
    height: 100%;
    padding-left: 20px;
}


.mm-list {
    float: left;
    line-height: 33px;
    padding: 0 18px;
    text-align: center;
}

.hover-mm {
    display: none;
}

.mm-list:hover .hover-dp-n {
    display: none;
}

.mm-list:hover .hover-mm {
    display: block;
}

.mm-list > a > img {
    vertical-align: text-bottom;
    padding-top: 7px;
}

.diff-letter-sp {
    letter-spacing: -1px;
}

.pr-7:hover {
    padding: 0 10px 0 11px;
}

.m-1 {
    margin-right: 1px;
}

.m-6 {
    margin-right: 6px;
}

.m-7 {
    margin-right: 7px;
}

.m-11 {
    margin-right: 11px;
}

.m-15 {
    margin-right: 15px;
}

.p-32 {
    padding: 0 16px 0 16px;
}

.p-33 {
    padding: 0 17px 0 16px;
}

.p-21 {
    padding: 0 10px 0 11px;
}

.p-13 {
    padding: 0 7px 0 6px;
}

.p-30 {
    padding:  0 15px;
}

.p-22 {
    padding: 0 11px;
}

.mr-6:hover {
    margin-right: 6px;
}

.mm-list:hover {
    background: url('../img/mm-hover-bg-1.png') center center no-repeat;
}

.mm-list:hover  .mm-inner-wrap {
    display: block;
}

.long-wt:hover {
    background: url('../img/mm-hover-bg-2.png') center center no-repeat;
    padding: 0 9px;
}

.p-30:hover {
    padding: 0 15px;
}

.p-13:hover {
    padding: 0 7px 0 6px;
}

.mm-input-btn-wrap {
    position: absolute;
    top: 6px;
    right: 9px;
}

.mm-input-wrap {
    display: inline-block;
    width: 174px;
    height: 19px;
    font-size: 0;
    vertical-align: middle;
    margin-right: 1px;
    border: 1px solid #004e7e;
}

.mm-input-wrap > input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

.search-btn > img {
    display: none;
}

#menu-wrap-768,
.search-area-768-wrap {
    display: none;
}

.search-btn {
    border: 0;
    background: none;
    vertical-align: middle;
    font-size: 0;
    padding: 0;
    cursor: pointer;
}

.mm-list-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.mm-inner-wrap {
    display: none;
    position: absolute;
    width: 100%;
    height: 30px;
    top: 33px;
    left: 0;
    min-width: 920px;
    font-size: 0;
    opacity: .99;
    background: url('../img/under-hm.png') center center no-repeat;
}

.mm-inner-list {
    display: inline-block;
}

.mm-inner-list > a {
    color: #333333;
}

.mm-inner-list:not(:first-child) {
    background: url('../img/header-div.png') left 12px no-repeat;
}

.mil-1-pd {
    padding-right: 11px;
}

.mil-2-pd {
    padding: 0 12px;
}

.mil-3-pd {
    padding: 0 11px 0 10px;
}

.mil-4-pd {
    padding: 0 9px 0 12px;
}

.mil-5-pd {
    padding-left: 13px;
}

.mm-first-list + mm-inner-list {
    margin-left: 10px;
}

.contents-wrap {
    width: 920px;
    position: relative;
}

.bottom-contents-wrap {
    width: 920px;
    position: relative;
    margin-bottom: 20px;
}

.contents-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.star-interview {
    line-height: 7px;
    padding-bottom: 8px;
    margin-bottom: 11px;
    background: url('../img/content-box/siv-div.png') left bottom repeat-x;
}

.tap-header {
    position: relative;
    width: 260px;
    height: 30px;
    padding: 12px 0 0 16px;
    background: url('../img/content-box/tap-header.png') center top no-repeat;
}

.tap-position {
    position: absolute;
    top: 11px;
    right: 12px;
}

.tap-position > span > a {
    color: #999999;
    font-size: 11px;
}

.tap-position > span + span {
    padding-left: 10px;
    background: url('../img/content-box/x-div.png') 3px 2px no-repeat;
}

.tap-body {
    width: 260px;
    height: 158px;
    padding: 18px 17px 0 16px;
    background: url('../img/content-box/tap-body.png') center top no-repeat;
}

.tap-body > ul > li  {
    padding-left: 10px;
    line-height: 15px;
    padding-bottom: 10px;
    background: url('../img/content-box/dot-tap-list.png') left 5px no-repeat;
}

.tap-list:not(:last-child) {
    background-position-y: 6px;
}

.tap-list:last-child {
    padding-bottom: 13px;
    margin-bottom: 13px;
}

.tap-list:nth-child(2) {
    padding-bottom: 9px;
}

.tap-list-wrap {
    background: url('../img/content-box/tpv-div.png') left bottom repeat-x;
}

.tap-list > a {
    color: #5c5c5c;
}

.tap-list > a > strong {
    color: #333333;
}

.img-news-wrap {
    display: inline-block;
    width: 81px;
}

.img-news-wrap:first-child {
    width: 82px;
}

.img-news-wrap + .img-news-wrap {
    margin-left: 7px;
}

.img-news-wrap > p {
    margin-top: 6px;
    text-align: center;
    width: 85px;
}

.img-news-wrap > p > a {
    line-height: 13px;
    font-size: 11px;
    color: #666666;
}

.tb-p {
    padding-bottom: 13px;
    text-align: center;
}

.tb-p > p > span > strong {
    color: #f14922;
}

.tb-p > p > strong > a {
    color: #333333;
}

.tb-p > p {
    padding-left: 8px;
}

.tpv-wrap {
    margin: 0 1px;
    font-size: 0;
}

.tpv-pb {
    padding-bottom: 9px;
    margin-bottom: 10px;
}

.sect-2-wrap {
    width: 250px;
}

.sect-2-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.singer {
    text-align: right;
    padding-right: 11px;
}

.fs-0 {
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    padding-top: 1px;
}

.no-btn-shape + .no-btn-shape {
    margin-left: 3px;
}

.bil-cht-center {
    text-align: center;
}

.bil-cht-center > img {
    padding-bottom: 2px;
}

.pl-9 {
    padding-left: 9px;
}

.sect-4-txt > p {
    width: 166px;
}

.sect-5 {
    width: 920px;
    height: 178px;
    border: 2px solid #2db9e6;
    margin-bottom: 15px;
}

.tvc-wrap {
    width: 100%;
    height: 100%;
    border: 1px solid #59c8eb;
    padding: 17px 14px 0 15px;
}

.tvc-logo {
    display: inline-block;
    font-size: 0;
    margin-bottom: 11px;
}

.tvc-wrap > ul >li > img {
    padding-right: 14px;
    vertical-align: middle;
}

.tvc-wrap > ul {
    padding-left: 15px;
    width: 259px;
}

.tvc-wrap > ul > li:first-child {
    margin-bottom: 14px;
}

#dif-pd-img {
    padding-right: 34px;
}

.tvc-list-wrap {
    display: inline-block;
    vertical-align: top;
    line-height: 14px;
    width: 165px;
}

.tvc-list-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.tvc-list-wrap > li a {
    font-size: 11px;
    color: #555555;
}

.tvc-list-wrap > li {
    float: left;
}

.tvc-list-wrap > li + li {
    padding-left: 11px;
}

.lpd-93 {
    padding-left: 93px;
}

.sect-5-box-wrap {
    position: absolute;
    top: 20px;
    right: 17px;
}

.box-p-con {
    float: left;
}

.box-p-con > p {
    text-align: center;
    font-size: 11px;
    color: #787878;
}

.box-p-con + .box-p-con {
    margin-left: 19px;
}

.sect-5-contents-wrap {
    height: 100%;
}

.inside-wrap {
    position: relative;
}

caption {
    display: none;
}

.inside-wrap > table {
    border: 1px solid #e0e0e0;
    width: 277px;
}

.inside-wrap > table  tr {
    border: 1px solid #e0e0e0;
}

.inside-wrap > table td {
    border: 1px solid #e0e0e0;
}

.tb-td {
    height: 24px;
    line-height: 24px;
    padding-left: 14px;
    font-size: 11px;
}

.tb-td-wide {
    height: 45px;
    line-height: 24px;
    padding-left: 14px;
    font-size: 11px;
}

.tb-td > a, .tb-td-wide > a {
    color: #666666;    
}

.top-left-right-b-w {
    font-size: 11px;
    height: 34px;
    line-height: 34px;
    padding-left: 13px;
    border: 1px solid #ffffff;
    text-align: left;
    padding-top: 3px;
}

.inside-wrap > table > thead {
    background-color: #f3f9f9;
}

.img-box-wrap {
    border: 1px solid #e0e0e0;
    width: 644px;
    height: 182px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    padding: 36px 17px 0 17px;
    background-color: #fafafa;
}

.lm-16 + .lm-16 {
    margin-left: 16px;
}

.nowrap {
    white-space: nowrap;
}

#pd-0 {
    padding: 0;
}

#footer {
    width: 920px;
}

.ft-header {
    width: 100%;
    height: 27px;
    background-color: #f3f3f3;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
}

.ft-header::after {
    content: "";
    display: block;
    clear: both;
}

.ft-header > ul {
    display: inline-block;
}

.ft-header > ul > li {
    float: left;
    text-align: center;
}

.ft-header > ul > li > a {
    color: #666666;
    line-height: 28px;
}

.ft-header > ul > li + li {
    padding-left: 14px;
    background: url('../img/footer/small-ft-div.png') 7px 7px no-repeat;
}

.adrs-wrap {
    text-align: center;
}

.dis-ib {
    display: inline-block;
}

.adrs {
    vertical-align: top;
    padding-top: 27px;
    height: 80px;
    text-align: left;
}

.adrs-wrap > .adrs {
    padding-left: 32px;
    background: url('../img/footer/footer-div.png') 15px 14px no-repeat;
}

.adrs-wrap > .ft-logo-wrap-2 {
    padding-left: 34px;
    background: url('../img/footer/footer-div.png')  16px 14px no-repeat;
}

.pa-more > span > a {
    color: #999999;
    padding-right: 7px;
    background: url('../img/content-box/arrow-more.png') right 4px no-repeat;
}

.pa-more {
    position: absolute;
    top: 12px;
    right: 15px;
}

.arrow-both {
    position: absolute;
    top: 0;
    right: 0;
}