.wrap {
    width: 1100px;
    margin: 0 auto;
}

#header-wrap {
    margin-bottom: 54px;
}

.header-pd-wrap {
    padding: 0 86px 0 94px;
}

.topmenu-wrap {
    height: 25px;
    padding: 0 96px 0 104px;
    margin-bottom: 12px;
    background-color: #f5f5f5;
    position: relative;
}

.topmenu-wrap > .left-tm {
    float: left;
}

.topmenu-wrap > .right-tm {
    float: right;
}

.topmenu-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.tm-list-wrap > .tm-list {
    float: left;
}

.tm-list-wrap > .tm-list > a {
    display: block;
    color: #999999;
}

.tm-list-wrap > .tm-list + .tm-list {
    padding-left: 18px;
}

.tm-list-wrap > .tm-list > a,
.topmenu-wrap > .left-tm > span {
    line-height: 25px;
    vertical-align: middle;
}    

.tm-list-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.logo-banner-wrap {
    position: relative;
    height: 50px;
    margin-bottom: 13px;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
}

#logo > a {
    display: block;
    font-size: 0;
}

.bm-list-wrap {
    position: absolute;
    top: 19px;
    right: 283px;
}

.bm-pl-1 {
    padding-left: 16px;
}

.bm-pl-2 {
    padding-left: 18px;
}

.bm-pl-3 {
    padding-left: 20px;
}

.bm-list-wrap::after {
    content: "";
    display: block;
    clear: both;
} 

.bm-list {
    float: left;
}

.bimg-wrap {
    display: block;
    position: absolute;
    right: 1px;
    font-size: 0;
}

.mm-list-wrap {
    height: 100%;
    padding-left: 22px;
}


.mm-list {
    float: left;
    line-height: 33px;
    padding: 0 16px 0 18px;
    text-align: center;
}


.mm-list > a {
    display: block;
}

.mm-list > a > img {
    vertical-align: text-bottom;
    padding-top: 7px;
}

.pr-7:hover {
    padding: 0 10px 0 11px;
}

.mr-6:hover {
    margin-right: 6px;
}

.mm-list:hover {
    top: 2px;
    padding: 0 16px 0 18px;
    background: url('../img/mm-hover-bg-1.png') center center no-repeat;
}

.mm-list:hover  .mm-inner-wrap {
    display: block;
}

.long-wt:hover {
    background: url('../img/mm-hover-bg-2.png') center center no-repeat;
    padding: 0 11px;
}

.mm-input-btn-wrap {
    position: absolute;
    top: 6px;
    right: 10px;
}

.mm-input-wrap {
    display: inline-block;
    width: 174px;
    height: 19px;
    font-size: 0;
    margin-right: 3px;
    border: 1px solid #004e7e;
}

.mm-input-wrap > input {
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

.mm-list-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.mm-inner-wrap {
    display: none;
    position: absolute;
    width: 100%;
    height: 30px;
    top: 33px;
    left: 0;
    min-width: 920px;
    font-size: 0;
    opacity: .99;
    background: url('../img/under-hm.png') center center no-repeat;
}

.mm-inner-list {
    display: inline-block;
}

.mm-inner-list > a {
    color: #333333;
}

.mm-inner-list:not(:first-child) {
    background: url('../img/header-div.png') left 12px no-repeat;
}

.mil-1-pd {
    padding-right: 11px;
}

.mil-2-pd {
    padding: 0 12px;
}

.mil-3-pd {
    padding: 0 11px 0 10px;
}

.mil-4-pd {
    padding: 0 9px 0 12px;
}

.mil-5-pd {
    padding-left: 13px;
}

.mm-first-list + mm-inner-list {
    margin-left: 10px;
}

.contents-wrap {
    margin: 0 86px 0 94px;
    position: relative;
}

.star-interview {
    line-height: 7px;
    padding-bottom: 8px;
    margin-bottom: 11px;
    background: url('../img/content-box/siv-div.png') left bottom repeat-x;
}

.tap-header {
    position: relative;
    width: 260px;
    height: 30px;
    padding: 12px 0 0 16px;
    background: url('../img/content-box/tap-header.png') center top no-repeat;
}

.tap-position {
    position: absolute;
    top: 11px;
    right: 12px;
}

.tap-body {
    width: 260px;
    height: 158px;
    padding: 18px 17px 0 16px;
    background: url('../img/content-box/tap-body.png') center top no-repeat;
}

.tap-body > ul > li  {
    padding-left: 10px;
    line-height: 15px;
    padding-bottom: 10px;
    background: url('../img/content-box/dot-tap-list.png') left 5px no-repeat;
}

.tap-list:not(:last-child) {
    background-position-y: 6px;
}

.tap-list:last-child {
    padding-bottom: 13px;
    margin-bottom: 14px;
}

.tap-list:nth-child(2) {
    padding-bottom: 9px;
}

.tap-list-wrap {
    background: url('../img/content-box/tpv-div.png') left bottom repeat-x;
}

.img-news-wrap {
    display: inline-block;
    width: 81px;
}

.img-news-wrap:first-child {
    width: 82px;
}

.img-news-wrap + .img-news-wrap {
    margin-left: 7px;
}

.img-news-wrap > p {
    margin-top: 6px;
    text-align: center;
}

.img-news-wrap > p > a {
    line-height: 13px;
}

.tb-p > p {
    padding-left: 8px;
}

.tpv-wrap {
    margin: 0 1px;
    font-size: 0;
}

.tpv-pb {
    padding-bottom: 9px;
    margin-bottom: 10px;
}

.sect-2-wrap {
    width: 250px;
}

.sect-2-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.singer {
    text-align: right;
}

.fs-0 {
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}

.no-btn-shape + .no-btn-shape {
    margin-left: 3px;
}

.bil-cht-center {
    text-align: center;
}