@media (max-width: 1023px) and (min-width: 768px) {
    * {
        font-size: .9rem;
    }

    .wrap {
        width: 100%;
    }
    
    #header-wrap {
        display: block;
        width: 100%;
        height: 60px;
        position: fixed;
        margin-bottom: 0;
        z-index: 30;
        background-color: #ffffff;

    }

    .contents-wrap {
        padding-top: 80px;
        width: 655px;
        margin: 0 auto;
    }

    .logo-banner-wrap {
        text-align: center;
        border-bottom: 1px solid #eeeeee;
        height: 60px;
    }

    #logo {
        position: relative;
        display: inline-block;
    }

    .none-display {
        display: none;
    }

    .main-menu-wrap,
    .sect-2-wrap,
    .sect-5,
    .sect-6,
    .topmenu-wrap {
        display: none;
    }


    .header-pd-wrap {
        width: 100%;
    }

    #footer {
        width: 100%;
    }

    .search-btn-logo {
        display: block;
        width: 30px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .search-btn-logo > img {
        display: block;
        width: 30px;
    }

    .menu-btn {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .menu-btn span {
        display: block;
        position: absolute;
        width: 80%;
        height: 3px;
        border-radius: 30px;
        background: #5997c0;
        transition: all .2s;
    }

    .menu-btn span:nth-child(1) {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu-btn span:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-btn span:nth-child(3) {
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    input[id="menu-icon"]:checked ~ header .menu-btn {
        z-index: 2;
    }

    input[id="menu-icon"]:checked ~ header .menu-btn span:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    input[id="menu-icon"]:checked ~ header .menu-btn span:nth-child(2) {
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    input[id="menu-icon"]:checked ~ header .menu-btn span:nth-child(3) {
        bottom: 50%; 
        left: 50%; 
        transform: translate(-50%, 50%) rotate(-45deg);
    }

    input[id="search-icon"]:checked ~ .contents-wrap .search-area-768-wrap {
        display: block;
        top: 60px;
        overflow-x: hidden;
    }

    input[id="menu-icon"]:checked ~ .contents-wrap #menu-wrap-768 {
        display: block;
        top: 60px;
        overflow-x: hidden;
    }

    input[id="search-icon"]:checked ~ .contents-wrap .ad-bm-list-wrap {
        display: block;
        height: 100%;
    }

    input[id="menu-icon"]:checked ~ .contents-wrap section {
        opacity: .2;
    }

    input[id="search-icon"]:checked ~ .contents-wrap section {
        opacity: .2;
    }

    .ad-bm-list-wrap {
        padding-left: 30px;
    }

    .bm-list-wrap {
        display: block;
        width: 225px;
        position: static;
        margin: 0 auto;
        margin-top: 10px;
    }

    .bimg-wrap-wrapper {
        width: 500px;
        margin: 20px auto 0 auto;
    }

    .bimg-wrap {
        position: static;
        display: inline-block;
    }

    #menu-wrap-768 {
        display: block;
        position: fixed;
        top: -360px;
        left: 0;
        z-index: 10;
        height: 300px;
        width: 100%;
        transition: .45s;
        background: #d6f6ff;
        overflow: scroll;
    }

    .menu-768-wrap > li {
        height: 40px;
    }

    .menu-768-wrap > li > a {
        display: block;
        padding-top: 40px;
        overflow: hidden;
        font-size: 0;
    }

    .menu-768-wrap > li > a:first-child {
        background: url('../img/mm-list-1.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(2) > a {
        background: url('../img/mm-list-2.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(3) > a {
        background: url('../img/mm-list-3.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(4) > a {
        background: url('../img/mm-list-4.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(5) > a {
        background: url('../img/mm-list-5.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(6) > a {
        background: url('../img/mm-list-6.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(7) > a {
        background: url('../img/mm-list-7.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(8) > a {
        background: url('../img/mm-list-8.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(9) > a {
        background: url('../img/mm-list-9.png') center 10px no-repeat;
    }

    .search-area-768 {
        display: block;
        height: 20px;
        border: 1px solid #e9e9e9;
        background: #ffffff;
        margin-top: 5px;
    }

    .search-area-768-wrap {
        display: block;
        padding: 0 40px 0 10px;
        position: fixed;
        top: -90px;
        left: 0;
        z-index: 10;
        height: 150px;
        width: 100%;
        transition: .45s;
        background: #e7e7e7;
        overflow: hidden;
    }

    .search-right-btn {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
    }

    .search-right-btn > button > img {
        width: 20px;
        height: 20px;
    }

    .adrs-wrap > .ft-logo-wrap-2 {
        padding-left: 0;
    }
}

@media (max-width: 767px) and (min-width: 0px) {

    * {
        font-size: .9rem;
    }

    .wrap {
        width: 100%;
    }
    
    #header-wrap {
        display: block;
        width: 100%;
        height: 60px;
        position: fixed;
        margin-bottom: 0;
        z-index: 30;
        background-color: #ffffff;
    }

    .contents-wrap {
        width: 100%;
        margin: 0 auto;
        padding: 80px 10px 0 10px;
    }

    .logo-banner-wrap {
        text-align: center;
        border-bottom: 1px solid #eeeeee;
        height: 60px;
    }

    #logo {
        position: relative;
        display: inline-block;
    }

    .none-display {
        display: none;
    }

    .main-menu-wrap,
    .sect-2-wrap,
    .sect-5,
    .sect-6,
    .topmenu-wrap {
        display: none;
    }


    .header-pd-wrap {
        width: 100%;
    }

    #footer {
        width: 100%;
        position: relative;
    }

    .search-btn-logo {
        display: block;
        width: 30px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .search-btn-logo > img {
        display: block;
        width: 30px;
    }

    .menu-btn {
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .menu-btn span {
        display: block;
        position: absolute;
        width: 80%;
        height: 3px;
        border-radius: 30px;
        background: #5997c0;
        transition: all .2s;
    }

    .menu-768-wrap > li > a:first-child {
        background: url('../img/mm-list-1.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(2) > a {
        background: url('../img/mm-list-2.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(3) > a {
        background: url('../img/mm-list-3.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(4) > a {
        background: url('../img/mm-list-4.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(5) > a {
        background: url('../img/mm-list-5.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(6) > a {
        background: url('../img/mm-list-6.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(7) > a {
        background: url('../img/mm-list-7.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(8) > a {
        background: url('../img/mm-list-8.png') center 10px no-repeat;
    }

    .menu-768-wrap > li:nth-child(9) > a {
        background: url('../img/mm-list-9.png') center 10px no-repeat;
    }

    input[id="menu-icon"]:checked ~ .contents-wrap section {
        opacity: .2;
    }

    input[id="search-icon"]:checked ~ .contents-wrap section {
        opacity: .2;
    }

    .menu-btn span:nth-child(1) {
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    .menu-btn span:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .menu-btn span:nth-child(3) {
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
    }

    input[id="menu-icon"]:checked ~ header .menu-btn {
        z-index: 2;
    }

    input[id="menu-icon"]:checked ~ header .menu-btn span:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    input[id="menu-icon"]:checked ~ header .menu-btn span:nth-child(2) {
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
    }

    input[id="menu-icon"]:checked ~ header .menu-btn span:nth-child(3) {
        bottom: 50%; 
        left: 50%; 
        transform: translate(-50%, 50%) rotate(-45deg);
    }

    input[id="search-icon"]:checked ~ .contents-wrap .search-area-768-wrap {
        display: block;
        top: 60px;
        overflow-x: hidden;
    }

    input[id="menu-icon"]:checked ~ .contents-wrap #menu-wrap-768 {
        display: block;
        top: 60px;
        overflow-x: hidden;
    }

    input[id="search-icon"]:checked ~ .contents-wrap .ad-bm-list-wrap {
        display: block;
        height: 100%;
        position: absolute;
        left: 0;
    }

    .ad-bm-list-wrap {
        padding-left: 0;
        position: absolute;
    }

    .bimg-wrap-wrapper {
        width: 100%;
        margin: 20px auto 0 auto;
        text-align: center;
    }

    .bimg-wrap {
        position: static;
        display: inline-block;
        margin-bottom: 5px;
    }

    .bm-list-wrap {
        display: block;
        width: 225px;
        position: static;
        margin: 0 auto;
        margin-top: 10px;
    }

    #menu-wrap-768 {
        display: block;
        position: fixed;
        top: -360px;
        left: 0;
        z-index: 10;
        height: 300px;
        width: 100%;
        transition: .45s;
        background: #d6f6ff;
        overflow: scroll;
    }

    .menu-768-wrap > li {
        height: 40px;
    }

    .menu-768-wrap > li > a {
        display: block;
        padding-top: 40px;
        overflow: hidden;
        font-size: 0;
    }

    .search-area-768 {
        display: block;
        height: 20px;
        border: 1px solid #e9e9e9;
        background: #ffffff;
        margin-top: 5px;
    }

    .search-area-768-wrap {
        display: block;
        padding: 0 40px 0 10px;
        position: fixed;
        top: -120px;
        left: 0;
        z-index: 10;
        height: 180px;
        width: 100%;
        transition: .45s;
        background: #e7e7e7;
        overflow: scroll;
    }

    .search-right-btn {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
    }

    .search-right-btn > button > img {
        width: 20px;
        height: 20px;
    }

    .adrs-wrap > .ft-logo-wrap-1,
    .adrs-wrap > .ft-logo-wrap-2 {
        padding-left: 0;
    }

    .sect-1 {
        width: 100%;
    }

    .sect-1-text {
        padding-left: 0;
        text-align: left;
        margin-top: 5px;
    }

    .sect-3 {
        display: inline-block;
        width: 100%;
        padding-right: 0;
    }

    .sect-3-txt {
        text-align: left;
    }

    .sect-4 {
        display: inline-block;
        float: none;
        padding-left: 0;
        background: none;
        text-align: left;
        width: 100%;
    }

    .alert-box {
        width: 100%;
        text-align: left;
    }

    .adrs-wrap > .adrs {
        padding: 0 10px 10px;
    }

    .address > img {
        width: 100%;
    }

    .copyright > img {
        width: 100%;
    }

    .img-box {
        width: 100%;
        height: 250px;
        float: none;
    }

    .img-90x60 {
        width: 90px;
        height: 60px;
    }

    .img-88x65 {
        width: 88px;
        height: 65px;
    }

    .img-82x76 {
        height: 76px;;
    }

    .float-l {
        float: left;
    }

    .tpv-wrap {
        display: flex;
        justify-content: space-between;
    }

    .img-news-wrap + .img-news-wrap {
        margin-left: 7px;
    }

    .news-section {
        width: 100%;
    }

    .tap-header {
        width: 100%;
        background: url('../img/content-box/tab-header.png') left top no-repeat, #eeeeee;
    }

    .tap-body {
        width: 100%;
    }

    .br {
        display: none;
    }

    .ns-last {
        padding: 0;
    }

    .alert-box-con > span {
        padding-right: 4px;
    }

    .alert-box-con > p {
        line-height: 30px;
    }

    .alert-box-con > a {
        top: 1px;
    }

    address {
        font-size: 11px;
        font-style: normal;
        color: #9f9f9f;
    }

    .address + .copyright {
        margin-top: 5px;
    }

}