* {
    font-family: 'dotum', '돋움', 'APPLE SD Gothic NEO', sans-serif;
    font-size: 12px;
    box-sizing: border-box;
}

button {
    border: 0;
    font-size: 0;
    outline: none;
    padding: 0;
    background: none;
    cursor: pointer;
}

.topmenu-wrap > .right-tm > .tm-list-wrap > .tm-list > a > span {
    font-weight: bold;
}

.main-menu-wrap {
    height: 35px;
    position: relative;
}

.mm-bg-left {
    background: url('../img/mm-bg-left.png') left 0 no-repeat;
    padding-left: 4px;
}

.mm-bg-mid {
    background: url('../img/mm-bg-mid.png') 0 0  repeat-x;
}

.mm-bg-right {
    background: url('../img/mm-bg-right.png') right 0 no-repeat;
    padding-right: 4px;
}

.h-100 {
    height: 100%;
}

.img-box {
    float: left;
    width: 220px;
    height: 172px;
    border: 1px solid #c8c8c8;
    background-color: #f2f2f2;
}

.img-box > a {
    display: block;
    width: 100%;
    height: 100%;
}

.img-box-nb {
    background: #eeeeee;
    border: none;
}

.img-90x60 {
    width: 90px;
    height: 60px;
}

.img-250x250 {
    width: 250px;
    height: 250px;
    margin-bottom: 16px;
    position: relative;
    z-index: 1;
}

.img-88x65 {
    width: 88px;
    height: 65px;
}

.img-82x76 {
    float: none;
    width: 82px;
    height: 76px;
}

.img-70x65 {
    width: 70px;
    height: 65px;
}

.img-132x115 {
    width: 132px;
    height: 115px;
    border: 1px solid #c8c8c8;
    background-color: #f2f2f2;
    margin-bottom: 11px;
}

.img-132x115 > a {
    display: block;
    width: 100%;
    height: 100%;
}

.img-140x105 {
    width: 140px;
    height: 105px;
}

.wt-81 {
    width: 81px;
}

#news-hl {
    margin-bottom: 8px;
}

#news-hl > a {
    font-size: 19px;
    color: #0e68a6;
}

.news-hl {
    margin-bottom: 3px;
}

.news-hl > a {
    line-height: 15px;
    color: #333333;
}

.fs-14 > a {
    font-size: 14px;
}

.sect-3-txt > p {
    line-height: 20px;
}

.sect-1 {
    width: 654px;
    padding-bottom: 18px;
    margin-bottom: 15px;
    background: url(../img/content-box/sect1-div.png) left bottom repeat-x;
}

.sect-1 > p {
    color: #999999;
}

.sect-1-text > span {
    display: block;
    color: #cccccc;
    margin-bottom: 16px;
}

.sect1-list > a {
    color: #666666;
}

.sect-1-text {
    padding-top: 4px;
    padding-left: 238px;
}

.sect-1-text > p {
    line-height: 18px;
    margin-bottom: 4px;
}

.sect1-list {
    margin-bottom: 7px;
}

.sect-1::after {
    display: block;
    content: "";
    clear: both;
}

.sect-2 {
    position: absolute;
    top: 0;
    right: 0;
}

.sect-3 {
    width: 379px;
    padding-right: 14px;
    float: left;
}

.sect-3-txt {
    padding-top: 3px;
    padding-left: 100px;
}

.news-section::after {
    content: "";
    display: block;
    clear: both;
}

.news-section {
    width: 365px;
}

.news-section {
    padding-right: 15px;
    padding-bottom: 11px;
    margin-bottom: 10px;
    background: url('../img/content-box/sect2-div.png') left bottom repeat-x;
}

.ns-last {
    padding: 0 15px 15px 0;
    margin-bottom: 6px;
    background: none;
}

.news-section-2:not(:last-child) {
    padding-bottom: 12px;
    margin-bottom: 11px;
    background: url('../img/content-box/sect3-div.png') left bottom repeat-x;
}

.sect-4 {
    position: relative;
    top: -2px;
    float: left;
    width: 276px;
    padding-left: 16px;
    background: url('../img/content-box/sect-div-vtc.png') left top repeat-y;
}

.sect-4-txt {
    padding-left: 98px;
}

.sect-4-txt > p > a {
    font-size: 11px;
    line-height: 14px;
}

.news-section-2::after {
    content: "";
    display: block;
    clear: both;
}

.siv-container:first-child {
    margin-bottom: 16px;
}

.siv-container {
    margin-bottom: 17px;
}

.bilboard-chart-title {
    padding-left: 4px;
    margin-bottom: 1px;
    position: relative;
}

.bilboard-chart {
    border: 1px solid #cccccc;
    padding: 14px 7px 0 6px;
    margin-bottom: 16px;
}

.bilboard-chart > ul {
    margin-bottom: 8px;
}

.bilboard-chart > ul > li > a {
    display: inline-block;
    line-height: 28px;
    font-size: 0;
}

.bilboard-chart > ul > li > a > img,
.bilboard-chart > ul > li > a > span {
    vertical-align: middle;
}

.bilboard-chart > ul > li > a span,
.bilboard-chart > ul > li > a span > strong {
    font-size: 11px;
} 

.pr-10 {
    padding-right: 10px;
}

.pr-11 {
    padding-right: 11px;
}

.pr-12 {
    padding-right: 12px;
}

.pr-22 {
    padding-right: 22px;
}

.pr-57 {
    padding-right: 57px;
}

.no-btn-shape {
    border: 0;
    background: none;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.btn-container {
    white-space: nowrap;
    font-size: 0;
    margin-bottom: 15px;
    padding-left: 1px;
}

.btn-container > button:first-child {
    padding-right: 4px;
}

.btn-container > button:last-child {
    padding-left: 20px;
}

.con-box {
    width: 250px;
    height: 464px;
    border: 1px solid #cccccc;
}

.focus-wrap {
    padding: 13px 12px 0 12px;
}

.focus-wrap:first-child {
    padding-top: 11px;
}

.focus-title {
    font-size: 0;
    margin-bottom: 11px;
}

.img-box-list-cont {
    padding: 0 6px 0 6px;
}

.focus-list-wrap > ul {
    float: right;
}

.focus-list-wrap > ul li {
    background: url('../img/content-box/focus-list-dot.png') left center no-repeat;
    padding-left: 7px;
    line-height: 16px;
}

.focus-list-wrap > ul > li > a {
    color: #333333;
}

.focus-list-wrap::after {
    content: "";
    display: block;
    clear: both;
}

.news-list-section {
    margin-bottom: 9px;
}

.news-list-section > ul > li > a {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    color: #062851;
}

.alert-box {
    width: 365px;
    height: 30px;
    background-color: #ebf5ff;
    border: 1px solid #b8cce0;
    padding: 0 0 0 11px;
    position: relative;
    margin-bottom: 12px;
}

.alert-box-con {
    line-height: 28px;
}

.alert-box-con > span {
    padding-right: 9px;
}

.alert-box-con > span > strong {
    font-size: 12px;
    color: #0d4fb2;
}

.alert-box-con > a {
    background: url('../img/content-box/arrow-more-deep.png') right 10px no-repeat;
    padding-right: 7px;
    color: #444444;
}

.alert-box-con > p,
.alert-box-con > a {
    font-size: 11px;
    display: inline-block;
}

.alert-box-con > a {
    position: absolute;
    right: 6px;
}

.container-table-title {
    position: relative;
}

.RSS {
    font-size: 11px;
    position: absolute;
    bottom: 4px;
    right: 0;
    color: #aaaaaa;
}

.mm-inner-list > a:hover {
    font-weight: bold;
}

.siv-container {
    position: relative;
}

.song-title > a {
    font-size: 11px;
}